<template>
  <div class="home">
    <b-row>
      <b-col>
        <b-card title="Livro" class="m-2">
          <b-card-text>
            <p><b>Titulo:</b> {{livro.titulo}}</p>
            <p><b>Autor:</b> {{livro.autor}}</p>
            <p><b>Ano:</b> {{livro.ano_publicacao}}</p>
            <b-button variant="success" class="m-2" :to="{name:'add-capitulo', params:{'id': this.idLivro}}">Adicionar Capitulo</b-button>
            <b-table 
                striped
                hover
                :items="livro.capitulos"
                :fields="fields"
                responsive
                >
                <template v-slot:cell(op)="data">
                  <b-button variant="primary" class="m-1" :to="{name: 'edit-capitulo', params:{id: data.item.idLivro, cap:data.item._id}}">Editar</b-button>
                  <b-button variant="danger" class="m-1" @click="deletarCapitulo(data.item)">Excluir</b-button>
                </template>
              </b-table>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default{
  data(){
    return {
      fields: [
        {
          label:'Nome',
          key: 'nome',
          sortable: true,
        },
        {
          label:'Opções',
          key: 'op'
        }
      ],
      livro: {},
      idLivro: this.$route.params.id
    }
  },
  methods:{
    getLivro(){
      this.$axios.get(`/books/${this.idLivro}`).then(resp => {
        resp.data.capitulos.map(obj => {
          obj.idLivro=this.idLivro
        })
        this.livro = {...resp.data}
      })
    },
    deletarCapitulo(capitulo){
      this.$swal({
        title: 'Deseja deletar o Capitulo?',
        text: capitulo.nome,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim'
      }).then((result) => {
        if (result.value) {
          this.$swal(
            'Deletado!',
            'Capitulo Deletado',
            'success'
          ).then(()=>{
            this.$axios.delete(`/books/${this.idLivro}/chapters/${capitulo._id}`).then(()=>this.getLivro())
          })
        }else{
          this.$swal(
            'Cancelado',
            '',
            'error'
          )
        }
      })
    }
  },
  mounted(){
    this.getLivro()
  }
}
</script>
