<template>
  <div class="home">
    <b-card title="Editar Livro" class="m-2">
      <b-card-text>
        <b-form @submit="submeter">
          <b-form-group
            id="titulo-group"
            label="Titulo:"
            label-for="titulo"
          >
            <b-form-input
              id="titulo"
              type="text"
              required
              v-model="formulario.titulo"
              placeholder="Digite o Titulo"
            ></b-form-input>
          </b-form-group>
          <b-form-group 
            id="autor-group"
            label="Autor:"
            label-for="autor"
            >
            <b-form-input
              id="autor"
              v-model="formulario.autor"
              required
              placeholder="Digite o Nome do Autor"
            ></b-form-input>
          </b-form-group>
          <b-form-group 
            id="ano-group"
            label="Ano:"
            label-for="ano"
            >
            <b-form-input
              id="ano"
              type="number"
              v-model="formulario.ano_publicacao"
              required
              :state="anoValido"
              placeholder="Digite o Ano"
            ></b-form-input>
            <b-form-invalid-feedback :state="anoValido">
              Ano deve ser um numero menor que {{ano}}.
            </b-form-invalid-feedback>
            <b-form-valid-feedback :state="anoValido">
              Ano Valido.
            </b-form-valid-feedback>
          </b-form-group>

          
        <b-button type="submit" variant="primary">Atualizar</b-button>
        </b-form>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
export default{
  data(){
    return{
      formulario:{
        titulo: '', 
        autor: '', 
        ano_publicacao: new Date().getFullYear() 
      },
      ano: new Date().getFullYear(),
      id: this.$route.params.id
    }
  },
  methods:{
    pegarUser(id){
      this.$axios.get(`/books/${id}`).then(resp=>{
        this.formulario = {
          titulo: resp.data.titulo,
          autor: resp.data.autor,
          ano_publicacao: resp.data.ano_publicacao,
        }
      }).catch(()=>{
        this.$swal("Erro Livro Não Encontrado!", '', 'error').then(
          this.$router.push({name: 'livros'})
        )
      })
    },
    submeter(evt) {
      evt.preventDefault()
      this.$axios.put(`/books/${this.id}`, this.formulario).then(resp=>{
        if(resp.status == 200){
          this.$swal("Sucesso ao Editar livro!", '', 'success').then(()=>{
            this.$router.push({name:'livros'})
          })
        }else{
          this.$swal("Erro ao Editar livro!", '', 'error')
        }
      })
    },
  },
  computed:{
    anoValido(){
      return this.formulario.ano_publicacao <= new Date().getFullYear() &&
             this.formulario.ano_publicacao > 0 &&
             this.formulario.ano_publicacao != ''
    }
  },
  created(){
    this.pegarUser(this.id)
  }
}
</script>
