<template>
  <b-container>
    <b-row>
      <b-col align-h='center'>
        <b-card>
          erro 404
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
</script>
